@mixin text($f, $l, $w) {
   font-size: $f;
   line-height: $l;
   font-weight: $w;
   margin: 0;
   padding: 0;
}

// $width-media-desktop: 1400px;
// $width-media-wide: 1100px;
// $width-media-medium: 980px;
// $width-media-small: 701px;
// $width-media-mobile: 600px;

// //хедер 600
// //овервью 1100 и 701
// //плейс 1100
// //road 701
// //байк 1400 701 980
// //тренинг 1400 1100
// //футер 701 600

// $primery-theme-light-color: #f4f4f4;
// $secondary-theme-light-color: #efefef;

// $primery-font-light-color: #151515;
// $secondary-font-light-color: #222;

// $primery-theme-dark-color: #333;
// $secondary--theme-dark-color: #2f2f2f;

// $primery-font-dark-color: white;
// $secondary-font-dark-color: #e5e5e5;