header {
   min-height: 74px;
   background-color: aqua;
   outline: purple 2px solid;
   max-width: 100%;



      .header__links {
         font-size: 30px;
      }

      button {
         outline: solid 2px red;
      }
   
}
