.bike {
   padding: 60px 0 60px;
   padding-left: 120/1440 * 100%;
   background-color: $primery-theme-light-color;

   @media screen and (max-width: $width-media-desktop) {
      padding: 0 0 80px 6%;
   }

   @media screen and (max-width: $width-media-small) {
      padding: 0 18px 80px;
   }

   &__description {
      margin-bottom: 120px;
      margin-right: 120px;
      max-width: $width-media-desktop;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $width-media-desktop) {
         justify-content: start;
      }

      @media screen and (max-width: $width-media-medium) {
         flex-direction: column;
         margin-bottom: 20px;
         padding-right: 0;
      }
   }

   &__title {
      @include text(55px, 60px, 700);
      letter-spacing: -0.5px;
      color: $primery-font-light-color;

      @media screen and (max-width: $width-media-medium) {
         @include text(32px, 40px, 700);
         margin-bottom: 40px;
         padding-top: 40px;
         border-top: 1px solid #e3e3e3;
      }
   }

   &__options {
      @include text(11px, 14px, 600);
      width: 114px;
      height: 30px;
      padding-left: 11px;
      background: $primery-theme-light-color;
      background-image: url(../../images/buttons/birdie.svg);
      background-repeat: no-repeat;
      background-position: 90px;

      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 2px;
      visibility: hidden;
      appearance: none;

      @media screen and (max-width: $width-media-medium) {
         visibility: visible;
      }
   }
   &__options-name {
      margin-left: 12px;
   }

   //можно гридами, но я уже в этом макете гридов пожевал, в секции overview
   &__list-type {
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: $width-media-medium) {
         visibility: hidden;
         width: 0;
         height: 0;
         margin: 0;
         overflow: hidden;
      }

      @media screen and (max-width: $width-media-desktop) {
         margin-left: 150px;
      }
   }

   &__description-type {
      @include text(18px, 28px, 600);
      margin-right: 40px;
      list-style: none;

      &:last-child {
         margin: 0;
      }
   }

   &__links-name {
      color: $secondary-font-light-color;
      text-decoration: none;
      opacity: 0.7;

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &__links-name_active {
      color: $primery-font-light-color;
      opacity: 1;
   }

   &__cards {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @media screen and (max-width: $width-media-desktop) {
         margin-right: auto;
         margin-left: auto;
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-right: 30px;

      @media screen and (max-width: $width-media-small) {
         &:not(:first-child) {
            visibility: hidden;
            overflow: hidden;
            width: 0;
            height: 0;
            padding: 0;
         }
      }

      @media screen and (max-width: $width-media-medium) {
         &:last-child {
            visibility: hidden;
            overflow: hidden;
            width: 0;
            height: 0;
            padding: 0;
         }
      }

      @media screen and (max-width: $width-media-desktop) {
         margin-right: 20px;
         padding: 14.95px 14.95px 16px;
         background-color: $primery-theme-light-color;
         box-shadow: -20px 60px 220px rgb(0 0 0 / 20%);
         border-radius: 20px;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &__image {
      display: block;
      padding: 20px;
      background-color: $primery-theme-light-color;
      border-radius: 20px;
      box-shadow: -20px 60px 220px rgb(0 0 0 / 20%);

      @media screen and (max-width: $width-media-desktop) {
         width: 254.11px;
         background-color: none;
         border-radius: 0;
         box-shadow: none;
         padding: 0;
      }
   }

   &__link {
      cursor: pointer;

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &__name {
      @include text(18px, 22px, 600);
      margin-top: 20px;
      color: $primery-font-light-color;

      @media screen and (max-width: $width-media-desktop) {
         @include text(14px, 18px, 600);
         margin: 2.95px auto 0;
      }
   }

   &__slider {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      padding: 0;
      visibility: hidden;

      @media screen and (max-width: $width-media-medium) {
         visibility: visible;
      }
   }

   &__element {
      width: 4px;
      height: 4px;
      margin-right: 5px;
      background: #cacaca;
      border-radius: 9999px;
      list-style: none;

      &:last-child {
         margin: 0;
      }

      &_active {
         background: $primery-font-light-color;
      }
   }

   &_theme_dark {
      background-color: $primery-theme-dark-color;
   }

   &_theme_dark .bike__title {
      color: $primery-font-dark-color;
   }

   &_theme_dark .bike__links-name {
      color: $secondary-font-dark-color;
   }

   &_theme_dark .bike__links-name_active {
      color: $primery-font-dark-color;
   }

   &_theme_dark .bike__name {
      color: $primery-font-dark-color;
      @media screen and (max-width: $width-media-desktop) {
         color: $primery-font-dark-color;
      }
   }
}
