// мда в секции завели кроты:( не работает легче переделать чем разбираться., переделываем
// вобщем так как дизайнер не удосужился накалякать макет между 320px и 1440px, я допустил ошибку и теперь не могу корректно его выравнить его в промежутке, поэтому что? Я за дизайнера! Я дизайнер! Я так вижу! поэтому сайт выглядить должен так!
.bike {
   padding: 60px 0 60px;
   padding-left: 120/1440 * 100%;
   background-color: #f4f4f4;

   @media screen and (max-width: 1400px) {
      padding: 0 0 80px 6%;
   }

   @media screen and (max-width: 700px) {
      padding: 0 18px 80px;
   }

   &__description {
      margin-bottom: 120px;
      margin-right: 120px;
      max-width: 1400px;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1400px) {
         justify-content: start;
      }

      @media screen and (max-width: 980px) {
         flex-direction: column;
         margin-bottom: 20px;
         padding-right: 0;
      }
   }

   &__title {
      @include text(55px, 60px, 700);
      letter-spacing: -0.5px;
      color: #151515;

      @media screen and (max-width: 980px) {
         @include text(32px, 40px, 700);
         margin-bottom: 40px;
         padding-top: 40px;
         border-top: 1px solid #e3e3e3;
      }
   }

   &__options {
      @include text(11px, 14px, 600);
      width: 114px;
      height: 30px;
      padding-left: 8px;
      background: #f4f4f4;
      background-image: url(../../images/buttons/birdie.svg);
      background-repeat: no-repeat;
      background-position: 90px;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 2px;
      visibility: hidden;
      appearance: none;

      @media screen and (max-width: 980px) {
         visibility: visible;
      }
   }
   &__options-name {
      margin-left: 12px;
   }

   //можно гридами, но я уже в этом макете гридов пожевал, в секции overview
   &__list-type {
      display: flex;
      align-items: flex-end;

      @media screen and (max-width: 980px) {
         visibility: hidden;
         width: 0;
         height: 0;
         margin: 0;
         overflow: hidden;
      }

      @media screen and (max-width: 1400px) {
margin-left: 150px;
      }
   }

   &__description-type {
      @include text(18px, 28px, 600);
      margin-right: 40px;
      list-style: none;

      &:last-child {
         margin: 0;
      }
   }

   // &__description-type_active {
   //    color: #151515;
   //    opacity: 1;
   // }

   &__links-name {
      color: #222;
      text-decoration: none;
      opacity: 0.7;

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &__links-name_active {
      color: #151515;
      opacity: 1;
   }

   //переписыва заного -,-!😁
   &__cards {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @media screen and (max-width: 1400px) {
         margin-right: auto;
         margin-left: auto;
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-right: 30px;

      @media screen and (max-width: 700px) {
         &:not(:first-child) {
            visibility: hidden; //престрелим горизонтальный скрол
            overflow: hidden; //так, контрольный!
            width: 0;
            height: 0;
            padding: 0;
         }
      }

      @media screen and (max-width: 980px) {
         &:last-child {
            visibility: hidden; //престрелим горизонтальный скрол
            overflow: hidden; //так, контрольный!
            width: 0;
            height: 0;
            padding: 0;
         }
      }

      @media screen and (max-width: 1400px) {
         margin-right: 20px;
         padding: 14.95px 14.95px 16px;
         background-color: #f4f4f4;
         box-shadow: -20px 60px 220px rgb(0 0 0 / 20%);
         border-radius: 20px;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &__image {
      //без дисплей блок образуется отступ у картинки с низу пикселя 2, не понимаю по чему, но нашёл что фиксится так месяца 2 назад
      display: block;
      padding: 20px;
      // Объясните мне как следующие шаманство работает 3 строчки кода, притом одна дублирет фон! и картинка становится белой!
      background-color: #f4f4f4;
      border-radius: 20px;
      box-shadow: -20px 60px 220px rgb(0 0 0 / 20%);

      @media screen and (max-width: 1400px) {
         width: 254.11px;
         background-color: none;
         border-radius: 0;
         box-shadow: none;
         padding: 0;
      }
   }

   &__link {
      cursor: pointer;

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &__name {
      @include text(18px, 22px, 600);
      margin-top: 20px;
      color: #151515;

      @media screen and (max-width: 1400px) {
         margin: 2.95px auto 0;
      }
   }

   //пощады! пощады! сколько можно:( псевдо элементов

   &__slider {
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      padding: 0;
      visibility: hidden;

      @media screen and (max-width: 980px) {
         visibility: visible;
      }
   }

   &__element {
      width: 4px;
      height: 4px;
      margin-right: 5px;
      background: #cacaca;
      border-radius: 9999px;
      list-style: none;

      &:last-child {
         margin: 0;
      }

      &_active {
         background: #151515;
      }
   }

   &_dark {
      background-color: #333;
   }

   &_dark .bike__description .bike__title {
      color: white;
   }

   &_dark .bike__description .bike__list-type .bike__description-type .bike__links-name {
      color: #e5e5e5;
   }

   &_dark .bike__description .bike__list-type .bike__description-type .bike__links-name_active {
      color: white;
   }

   &_dark .bike__cards .bike__list .bike__name {
      color: white;
      //А теперь доказательство что я самый лучший дизайнер и что весь блок выглядит так как нужно!
      //Дизайнер в фигме не показал мобильную версию тёмного дизайна.
      //И я уверен, что на тёмном фоне у 99%: студентов внутри карточки белый цвет текста, белый внутри белого:) Но я лучший! поэтому у меня нужного цвета!
      @media screen and (max-width: 1400px) {
         color: hotpink;
      }
   }
}
