.footer {
   padding: 80px 0 60px;
   padding-left: 120/1440 * 100%;
   background-color: #efefef;

   @media screen and (max-width: 740px) {
      padding: 60px 18px 16px;
   }

   &__titel {
      @include text(24px, 32px, 600);
      width: 229px;
      margin-bottom: 50px;
      color: #151515;

      @media screen and (max-width: 740px) {
         @include text(24px, 32px, 600);
         margin-bottom: 40px;
      }
   }

   &__form {
      width: 360px;
      outline: 1px solid rgba(199, 199, 199, 0.5);
      margin-bottom: 100px;

      @media screen and (max-width: 740px) {
         width: 284px;
         margin-bottom: 88px;
      }
   }

   &__email {
      @include text(13px, 28px, 500);
      height: 50px;
      width: 300px;
      margin-left: 20px;
      padding: 0;
      color: #151515;
      background-color: #efefef;
      outline: none;
      border: none;
      border-radius: 0;
      cursor: pointer;

      @media screen and (max-width: 740px) {
         width: 220px;
      }

      &::placeholder {
         @include text(13px, 28px, 500);
         opacity: 70%;
         color: #222;
      }

      &:hover::placeholder {
         opacity: 1;
         border: none;
      }
   }

   &__button-submit {
      @include text(13px, 28px, 500);
      width: 18px;
      height: 28px;
      margin: 0;
      padding: 0;
      color: #151515;
      visibility: hidden;
      cursor: pointer;
      border: none;
   }

   &__button-submit_active {
      visibility: visible;
   }

   &__info {
      display: flex;
      justify-content: space-between;
   }

   &__copyright {
      @include text(14px, 20px, 600);
      margin: 0;
      color: #cfcfcf;

      @media screen and (max-width: 740px) {
         @include text(14px, 20px, 500);
         margin-top: 9px;
      }
   }

   &__logo {
      width: 36px;
      height: 36px;
      order: 3;

      @media screen and (min-width: 600px) {
         visibility: hidden;
         order: 2;
      }
   }

   &_theme_dark {
      background-color: #2f2f2f;
   }

   &_theme_dark .footer__titel {
      color: white;
   }

   &_theme_dark .footer__email {
      color: white;
      background-color: #2f2f2f;

      &::placeholder {
         color: white;
         opacity: 0.5;
      }
   }

   &_theme_dark .footer__button-submit {
      color: white;
   }

   &_theme_dark .footer__copyright {
      color: #565656;
   }

   &_theme_dark .footer__button-submit {
      background-color: #2f2f2f;
      color: white;
   }
}
