.footer {
   padding: 80px 0 60px;
   padding-left: 120/1440 * 100%;
   background-color: #efefef;

   &__titel {
      @include text(24px, 32px, 700);
      width: 229px;

      margin-bottom: 50px;
      color: #151515;
   }

   &__form {
      position: relative;
      width: 360px;

      outline: 1px solid rgba(199, 199, 199, 0.5);
      margin-bottom: 100px;
   }

   &__email {
      @include text(13px, 28px, 500);
      height: 50px;
      width: 300px;
      margin-left: 20px;
      padding: 0;
      background-color: #efefef;
      outline: none;
      border: none;
      border-radius: 0;
      cursor: pointer;

      &::placeholder {
         @include text(13px, 28px, 500);
         opacity: 70%;
         color: #222;
      }

      &:hover::placeholder {
         opacity: 1;
         border: none;
      }

   }

   //тут есть кнопка но её не видно без джава скрипта :)
   &__button-submit {
      @include text(13px, 28px, 500);
      width: 18px;
      height: 28px;
      margin: 0;
      padding: 0;
      color: #151515;
      visibility: hidden;
      cursor: pointer;
      border: none;
      position: absolute;
      right: 22px;
      top: 11px;
   }

   // показывает кнопку 111
   &__button-submit_active {
      visibility: visible;
   }

   //тут моё воображение воруют кроты, хочется назвать див по русски
   &__info {
      display: flex;
      justify-content: space-between;
      margin-right: 120px;
   }

   &__toggler {
      align-self: flex-end;
   }

   &__switch-light {
      width: 28px;
      height: 28px;
      margin-right: 17px;
   }

   &__switch-dark {
      width: 20px;
      height: 20px;
      margin-left: 18px;
      margin-bottom: 4px;
   }

   //что писать руками? я уверен что я много раз видел такой чекбокс
   //к этому чекбоксу не мог приступить 3 дня так боялся его:*(
   //уф в пиксель пёрфект сверстал вместе с отступами картинок, они чутка отличаются от макетных, но зато выглядят как на макете!

   &__checkbox {
      width: 44px;
      height: 24px;
      margin-bottom: 2px;
      background: white;
      border-radius: 9999px;
      transition: 0.5s;
      position: relative;
      appearance: none;
      -moz-appearance: none;

      &:focus {
         outline: none;
      }

      &:before {
         content: "";
         width: 20px;
         height: 20px;
         background: #24b47e;
         border-radius: 9999px;
         transition: 0.5s;
         position: absolute;
         top: 2px;
         left: 2px;
      }

      &:checked {
         background: #545454;
      }

      &:checked:before {
         left: 22px;
      }
   }
}
