.header {
   display: flex;
   justify-content: flex-end;
   min-height: 74px;
   background-color: #f4f4f4;
   outline: purple 2px solid;
   // max-width: 100%;
   position: relative;

   @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: start;
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 120px;

      @media screen and (max-width: 600px) {
         visibility: hidden;
      }
   }

   &__links {
      @include text(14px, 18px, 500);
      color: $fcolor1;
      margin-right: 34px;
      text-decoration: none;

      &:hover {
         opacity: 75%;
      }

      &:last-child {
         margin-right: 0;
      }

      &:focus {
         outline: 3px solid dodgerblue;
      }

      // @media screen and (max-width: 600px) {
      //    margin-right: 10px;

      //    &:last-child {
      //       margin-right: 10px;
      //    }
      // }
   }

   //активный бургер
   &_active {
      //в макете 584пикселя вроде, но! у каждого телефона, своя высота, я изменил пиксели на всю высоту страницы
      height: 100vh;
      justify-content: start;
      flex-direction: column;
   }

   &__nav_active {
      flex-direction: column;
      visibility: visible;
      margin-right: 0;
   }

   &__links_active {
      margin: 0 0 32px;
   }
}
