.header {
   min-height: 74px;
   background-color: #f4f4f4;
   outline: purple 2px solid;
   max-width: 100%;

   &__nav {
      display: flex;
      justify-content: flex-end;
   }

   &__links {
      @include text(14px, 18px, 500);
      color: $fcolor1;
      margin-right: 34px;
      text-decoration: none;

      &:hover {
         opacity: 75%;
      }

      &:last-child {
         margin-right: 120px;
      }

      &:focus{
         outline: 3px solid dodgerblue;
      }
   }

   &__burger {
      cursor: pointer;
      visibility: hidden;

      @media screen and (max-width: 600px) {
         visibility: visible;
      }

      &:hover {
         opacity: 60%;
      }

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }
}
