.header {
   display: flex;
   justify-content: flex-end;
   min-height: 74px;
   background-color: $primery-theme-light-color;
   // max-width: 100%;
   position: relative;

   @media screen and (max-width: $width-media-mobile) {
      flex-direction: column;
      justify-content: start;
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 120px;

      @media screen and (max-width: $width-media-mobile) {
         visibility: hidden;
         height: 0;
      }
   }

   &__links {
      @include text(14px, 18px, 500);
      color: $primery-font-light-color;
      margin-right: 34px;
      text-decoration: none;

      &:hover {
         opacity: 75%;
      }

      &:last-child {
         margin-right: 0;
      }

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &_active {
      height: 100vh;
      justify-content: start;
      flex-direction: column;
   }

   &_active .burger {
      margin-bottom: 97.66px;
   }

   &_active .header__nav {
      flex-direction: column;
      visibility: visible;
      height: 150px;
      margin-right: 0;
   }

   &_active .header__links {
      @include text(18px, 18px, 500);
      margin: 0 0 32px;
   }

   &_active .toggler {
      visibility: visible;
      margin: auto auto 36px;
      width: 136px;
      height: 28px;
   }

   &_theme_dark {
      background-color: $primery-theme-dark-color;
   }

   &_theme_dark .header__links {
      color: $primery-font-dark-color;

      &:hover {
         opacity: 65%;
      }
   }
}
