.overview {
   background-color: #f4f4f4;
   outline: aqua 2px solid;
   // display: flex;
   padding-left: 120px;
   position: relative;

   &__titel {
      @include text(55px, 60px, 700);
      padding-top: 80px;
      letter-spacing: -0.5px;
      white-space: pre-line;
      width: 460px;
   }

   &__text {
      margin-right: auto;
      max-width: 460px;
   }

   &__place {
      align-self: flex-end;
      padding-top: 20px;
      margin-left: auto;
   }

   &__button {
      @include text(14px, 18px, 600);
      width: 180px;
      height: 50px;
      letter-spacing: 1px;
      color: white;
      background-color: #24b47e;
      border: 0;
      border-radius: 4px;

      //Жёваная анимация! она заставила меня реально вспотеть!
      //раскомментировать с 39 по 47 строчку чтобы увидеть анимацию задуманную как на макете, и закомментировать с 51 по 69
      // background-image: linear-gradient(to left, #24b47e 50%, #319e75 50%);
      // background-size: 200% 100%;
      // background-position: 100%;
      // transition: 3s ease-out;

      // &:hover {
      //    background-position: 0%;
      //    cursor: pointer;
      // }

      // в этом проекте завились кроты, они подняли чёрныё флаг и объявили что эта анимация захвачена!
      // нам срочно нужен боевой батон чтоб отловить всех кротов! https://www.youtube.com/watch?v=Itoy8pOPsTc
      transition: 800ms ease;
      transform-style: preserve-3d;

      &:after {
         top: 0%;
         left: 0;
         width: 100%;
         position: absolute;
         content: url(../../images/Flag_of_Edward_England.svg);
         background-color: black;
         transform-origin: top;
         transform: rotateX(-90deg);
      }

      &:hover{
            cursor: pointer;
            transform-origin: top;
            transform: rotateX(90deg);
      }

   }
}
