.place {
   padding: 120px 0 60px;
   padding-left: 120/1440 * 100%;
   display: flex;
   background-color: $primery-theme-light-color;

   @media screen and (max-width: $width-media-wide) {
      padding: 0 18px;
      flex-direction: column;
   }

   &__image {
      margin-right: 80/1320 * 100%;

      object-fit: contain;

      @media screen and (max-width: $width-media-wide) {
         padding-top: 22px;
         margin-bottom: 40px;
         margin-right: 0;
         border-top: 1px solid #e3e3e3;
      }
   }

   &__description-container {
      margin: 0 auto 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (max-width: $width-media-wide) {
         margin: 0;
      }
   }

   &__title {
      @include text(34px, 44px, 600);
      max-width: 470px;
      margin: 0;
      color: $primery-font-light-color;
      letter-spacing: -0.5px;

      @media screen and (max-width: $width-media-wide) {
         @include text(23px, 29px, 600);
         margin-bottom: 38px;
      }
   }

   &__name {
      @include text(20px, 32px, 500);
      margin: 0;
      font-style: normal;
      color: $primery-font-light-color;

      @media screen and (max-width: $width-media-wide) {
         @include text(14px, 22px, 500);
      }
   }

   &__name-description {
      @include text(16px, 28px, 400);
      margin-top: 6px;
      color: $secondary-font-light-color;
      opacity: 0.7;

      @media screen and (max-width: $width-media-wide) {
         @include text(10px, 16px, 400);
         margin-top: 4px;
         padding-bottom: 80px;
         border-bottom: 1px solid #e3e3e3;
      }
   }

   &_theme_dark {
      background-color: $primery-theme-dark-color;
   }

   &_theme_dark .place__title {
      color: $primery-font-dark-color;
   }

   &_theme_dark .place__name {
      color: $primery-font-dark-color;
   }

   &_theme_dark .place__name-description {
      color: $secondary-font-dark-color;
   }
}
