.road {
   padding: 60px 0 60px;
   padding-left: 120/1440 * 100%;
   background-color: #f4f4f4;
   outline: blanchedalmond 2px solid;

   &__title {
      @include text(55px, 60px, 700);
      margin-bottom: 50px;
      letter-spacing: -0.5px;
      color: #151515;
   }

   &__subtitle {
      @include text(18px, 28px, 400);
      max-width: 460px;
      margin-bottom: 80px;
      color: #222;
      opacity: 70%;
   }

   &__image-container {
      display: flex;
      margin-bottom: 50px;
   }

   &__picture-description {
      position: relative;


      &:before {
         width: 98px; //2пикселя обрубил
         height: 40px;
         content: "";
         background-image: url(../../images/road-back-gneen.svg);
         position: absolute;
         top: 344px;
      }

      &:after {
         width: 50px;
         height: 16px;
         content: "";
         background-image: url(../../images/road1.svg);
         position: absolute;
         top: 356px;
         left: 16px;
      }
   }

   &__image {
      margin-right: 40px;
   }

   //Жёваная кнопка! кажется её погрызли кроты
   //Это кнопки на svg
   // &__button_type_left,&__button_type_right {
   //    width: 50px;
   //    height: 50px;
   //    background-color: #ebebeb;
   //    border-radius: 50px;
   //    border: none;
   //    position: relative;

   //    &:hover{
   //       cursor: pointer;
   //       opacity: 60%;
   //    }

   //    &:before {
   //       width: 9px;
   //       height: 17px;
   //       content: "";
   //       object-fit: contain;
   //       left: 18px;
   //       top: 15px;
   //       position: absolute;
   //    }
   // }

   // &__button_type_left{
   //    &:before{
   //       background-image: url(../../images/buttons/Left.svg);
   //    }
   // }

   //    &__button_type_right{
   //    &:before{
   //       background-image: url(../../images/buttons/Right.svg);
   //       left: 22px;
   //    }
   // }

   //В слаке сказали что кнопки можно без картинки нарисовать на css, вызов был принят!
   //я надеюсь госпадин и и и и и или госпажа ревьер меня не покусает, так как совсем в пиксель пёрфект играть с кнопкой средствами css не хочеться
   &__button_type_left,
   &__button_type_right {
      width: 50px;
      height: 50px;
      display: inline-flex;
      background-color: #ebebeb;
      border-radius: 50%;
      position: relative;
      border: none;

      &:hover {
         cursor: pointer;
         opacity: 60%;
      }

      &:before {
         width: 9px;
         height: 9px;
         display: inline-flex;
         border-top: 2px solid #151515;
         border-left: 2px solid #151515;
         content: "";
         position: absolute;
         top: 20px;
      }

      &:active {
         transform: scale(0.9);
      }

      &:focus {
         outline: 2px solid dodgerblue;
      }
   }
   &__button_type_left {
      margin-right: 20px;

      &:before {
         left: 21px;
         transform: rotate(-45deg);
      }
   }

   &__button_type_right {
      &:before {
         left: 18px;
         transform: rotate(135deg);
      }
   }
   //ммм какие кнопочки получились и всего то 5 часов времени ушло 😲, чувствую нужно как то поэкономнее время распределять...
   //мда только проблемка свойтво :active подсасывает свойство :focus и теперь при клике появляется аутлайн, я не знаю как решить эту проблему:( не использовать  :active?
}
