.toggler {
   display: flex;
   //что писать руками? я уверен что я много раз видел такой чекбокс
   //к этому чекбоксу не мог приступить 3 дня так боялся его:*(
   //уф в пиксель пёрфект сверстал вместе с отступами картинок, они чутка отличаются от макетных, но зато выглядят как на макете!

   &__checkbox {
      width: 44px;
      height: 24px;
      margin-top: 2px;
      background: white;
      border-radius: 9999px;
      transition: 0.5s;
      position: relative;
      appearance: none;
      -moz-appearance: none;

      &:focus {
         outline: none;
      }

      &:before {
         content: "";
         width: 20px;
         height: 20px;
         background: #24b47e;
         border-radius: 9999px;
         transition: 0.5s;
         position: absolute;
         top: 2px;
         left: 2px;
      }

      &:checked {
         background: #545454;
      }

      &:checked:before {
         left: 22px;
      }
   }

   &__switch-light {
      width: 28px;
      height: 28px;
      margin-right: 22px;
   }

   &__switch-dark {
      width: 20px;
      height: 20px;
      margin-left: 22px;
      margin-top: 4.65px;
   }

   &_place_header {
      @media screen and (min-width: 320px) {
         width: 0;
         height: 0;
         margin: 0;
         padding: 0;
         visibility: hidden;
         overflow: hidden;
      }
   }

   &_place_footer {
      align-self: flex-end;
      margin-right: 120px;

      @media screen and (min-width: 320px) {
         width: 0;
         height: 0;
         margin: 0;
         padding: 0;
         visibility: hidden;
         overflow: hidden;
      }

      @media screen and (min-width: 600px) {
         visibility: visible;
         margin-right: 120px;
         width: 136px;
         height: 31.73px;
         order: 3;
      }
   }
}
