.training {
   padding: 150px 0 120px;
   padding-left: 120/1440 * 100%;
   display: grid;
   grid-template-columns: minmax(180px, 460px) minmax(180px, 580px);
   column-gap: 160/1320 * 100%;
   grid-template-rows: repeat(2, auto) 1fr;
   background-color: $primery-theme-light-color;

   @media screen and (max-width: $width-media-desktop) {
      padding: 0 18px 60px;
      column-gap: 20px;
   }

   @media screen and (max-width: $width-media-wide) {
      row-gap: 40px;
      column-gap: 0;
      grid-template-columns: 100%;
   }

   &__titel {
      @include text(55px, 60px, 700);
      letter-spacing: -0.5px;
      margin-top: 3px;
      margin-bottom: 44px;
      color: $primery-font-light-color;

      @media screen and (max-width: $width-media-wide) {
         @include text(32px, 40px, 700);
         padding-top: 40px;
         border-top: 1px solid #e3e3e3;
      }
   }

   &__description {
      @include text(18px, 28px, 400);
      margin-bottom: 182px;
      color: $secondary-font-light-color;
      opacity: 70%;

      @media screen and (max-width: $width-media-wide) {
         @include text(12px, 18px, 400);
         max-width: 580px;
         margin-bottom: 0;
      }
   }

   &__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
   }

   &__list-item {
      margin-right: 30px;

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      @include text(18px, 28px, 600);
      color: $secondary-font-light-color;
      text-decoration: none;

      @media screen and (max-width: $width-media-wide) {
         @include text(14px, 20px, 600);
         margin-bottom: 0;
      }

      &:focus {
         outline: 3px solid dodgerblue;
      }
   }

   &__place {
      width: 580px;

      grid-column: 2;
      grid-row: 1/4;

      @media screen and (max-width: $width-media-wide) {
         max-width: 100%;
         grid-column: 1;
         grid-row: 2/3;
      }
   }

   &_theme_dark {
      background-color: $primery-theme-dark-color;
   }

   &_theme_dark .training__titel {
      color: $primery-font-dark-color;
   }

   &_theme_dark .training__description {
      color: $secondary-font-dark-color;
   }

   &_theme_dark .training__link {
      color: $primery-font-dark-color;
   }
}
