@import "./../vendors/normalize.css";
@import "./../vendors/fonts/fonts.css";
.root {
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
  font-family: "Inter", Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  min-height: 74px;
  background-color: #F4F4F4;
  outline: purple 2px solid;
  max-width: 100%;
}
.header__nav {
  display: flex;
  justify-content: end;
}
.header__links {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-right: 34px;
  justify-content: end;
  color: #151515;
}
.header__links:hover {
  opacity: 75%;
}
.header__links:last-child {
  margin-right: 120px;
}
.header__burger {
  cursor: pointer;
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  .header__burger {
    visibility: visible;
  }
}
.header__burger:hover {
  opacity: 60%;
}
.header__burger:focus {
  outline: 3px solid dodgerblue;
}

.overview {
  background-color: #f4f4f4;
  outline: aqua 2px solid;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: minmax(200px, 1fr) 1fr minmax(300px, 1fr);
  justify-content: space-between;
  padding-left: 120px;
  position: relative;
}
.overview__titel {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  letter-spacing: -0.5px;
  white-space: pre-line;
  width: 460px;
}
.overview__text {
  margin: 0;
  max-width: 460px;
}
.overview__place {
  align-self: flex-end;
  padding-top: 20px;
  margin-left: auto;
}
.overview__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  width: 180px;
  height: 50px;
  letter-spacing: 1px;
  color: white;
  background-color: #24b47e;
  border: 0;
  border-radius: 4px;
  transition: 800ms ease;
  transform-style: preserve-3d;
}
.overview__button:after {
  top: 0%;
  left: 0;
  width: 100%;
  position: absolute;
  content: url(../../images/Flag_of_Edward_England.svg);
  background-color: black;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.overview__button:hover {
  cursor: pointer;
  transform-origin: top;
  transform: rotateX(90deg);
}
.overview__button:focus {
  outline: dodgerblue 3px solid;
}
.overview__bike {
  position: -webkit-sticky;
  position: sticky;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
  padding: 20px 50px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
}
.overview__name {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}
.overview__name:after {
  content: "";
  position: absolute;
  margin: 0;
  width: 132px;
  height: 2px;
  left: 224px;
  top: 9px;
  background: #d7d4d4;
}