@import "./../vendors/normalize.css";
@import "./../vendors/fonts/fonts.css";
.root {
  max-width: 1440px;
  min-width: 300px;
  margin: 0 auto;
  font-family: "Inter", Tahoma, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  min-height: 74px;
  background-color: #f4f4f4;
  outline: purple 2px solid;
  position: relative;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__links {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #151515;
  margin-right: 34px;
  text-decoration: none;
}
.header__links:hover {
  opacity: 75%;
}
.header__links:last-child {
  margin-right: 120px;
}
.header__links:focus {
  outline: 3px solid dodgerblue;
}

.overview {
  padding-top: 20px;
  padding-left: 8.3333333333%;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: minmax(200px, 410px) 10px minmax(200px, 610px);
  justify-content: space-between;
  position: relative;
  outline: aqua 2px solid;
}
.overview__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 460px;
  margin: 60px 0 50px;
  color: #151515;
  grid-column: 1/2;
  letter-spacing: -0.5px;
}
.overview__text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 460px;
  margin: 0 0 50px;
  color: #222;
  grid-column: 1/2;
  opacity: 0.7;
}
.overview__place {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/6;
}
.overview__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-bottom: 167px;
  width: 180px;
  height: 50px;
  color: white;
  background-color: #24b47e;
  grid-column: 1/2;
  letter-spacing: 1px;
  border: 0;
  border-radius: 4px;
  transition: 800ms ease;
  transform-style: preserve-3d;
}
.overview__button:after {
  top: 0%;
  left: 0;
  width: 100%;
  position: absolute;
  content: url(../../images/Flag_of_Edward_England.svg);
  background-color: black;
  transform-origin: top;
  transform: rotateX(-90deg);
}
.overview__button:hover {
  cursor: pointer;
  transform-origin: top;
  transform: rotateX(90deg);
}
.overview__bike {
  padding: 20px 50px;
  background: #f4f4f4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  position: -webkit-sticky;
  position: sticky;
}
.overview__sticky-container {
  padding: 372px 0 79px 0;
  right: 50px;
  grid-column: 2;
  grid-row: 1/6;
  box-sizing: border-box;
  position: relative;
}
.overview__name {
  grid-column: 1/2;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
}
.overview__name:after {
  content: "";
  position: absolute;
  margin: 0;
  width: 132px;
  height: 2px;
  left: 224px;
  top: 9px;
  background: #d7d4d4;
}

.place {
  padding: 120px 0 60px;
  padding-left: 8.3333333333%;
  display: flex;
  background-color: #f4f4f4;
  outline: 2px solid seagreen;
}
.place__image {
  margin-right: 6.0606060606%;
  -o-object-fit: contain;
     object-fit: contain;
}
.place__description-container {
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.place__title {
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 470px;
  margin: 0;
  color: #151515;
  letter-spacing: -0.5px;
}
.place__name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin: 0;
  font-style: normal;
  color: #151515;
}
.place__name-description {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  color: #222;
  opacity: 0.7;
}

.road {
  padding: 60px 0 60px;
  padding-left: 8.3333333333%;
  background-color: #f4f4f4;
  outline: blanchedalmond 2px solid;
}
.road__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  letter-spacing: -0.5px;
  color: #151515;
}
.road__subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  max-width: 460px;
  margin-bottom: 80px;
  color: #222;
  opacity: 70%;
}
.road__image-container {
  display: flex;
  margin-bottom: 50px;
}
.road__picture-description {
  position: relative;
}
.road__picture-description:before {
  width: 98px;
  height: 40px;
  content: "";
  background-image: url(../../images/road-back-gneen.svg);
  position: absolute;
  top: 344px;
}
.road__picture-description:after {
  width: 50px;
  height: 16px;
  content: "";
  background-image: url(../../images/road1.svg);
  position: absolute;
  top: 356px;
  left: 16px;
}
.road__image {
  margin-right: 40px;
}
.road__button_type_left, .road__button_type_right {
  width: 50px;
  height: 50px;
  display: inline-flex;
  background-color: #ebebeb;
  border-radius: 50%;
  position: relative;
  border: none;
}
.road__button_type_left:hover, .road__button_type_right:hover {
  cursor: pointer;
  opacity: 60%;
}
.road__button_type_left:before, .road__button_type_right:before {
  width: 9px;
  height: 9px;
  display: inline-flex;
  border-top: 2px solid #151515;
  border-left: 2px solid #151515;
  content: "";
  position: absolute;
  top: 20px;
}
.road__button_type_left:active, .road__button_type_right:active {
  transform: scale(0.9);
}
.road__button_type_left:focus, .road__button_type_right:focus {
  outline: none;
}
.road__button_type_left {
  margin-right: 20px;
}
.road__button_type_left:before {
  left: 21px;
  transform: rotate(-45deg);
}
.road__button_type_right:before {
  left: 18px;
  transform: rotate(135deg);
}

.bike {
  padding: 60px 0 40px;
  padding-left: 8.3333333333%;
  background-color: #f4f4f4;
  outline: darkcyan 2px solid;
}
.bike__description {
  margin-bottom: 120px;
  padding-right: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.bike__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  color: #151515;
}
.bike__list-type {
  display: flex;
  align-items: flex-end;
}
.bike__description-type {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  list-style: none;
  opacity: 70%;
}
.bike__description-type:last-child {
  margin: 0;
}
.bike__description-type_active {
  color: #151515;
  opacity: 1;
}
.bike__links-name {
  color: #222;
  text-decoration: none;
}
.bike__links-name:focus {
  outline: 3px solid dodgerblue;
}
.bike__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.bike__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.bike__list:last-child {
  margin-right: 0;
}
.bike__image {
  display: block;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
}
.bike__link {
  cursor: pointer;
}
.bike__link:focus {
  outline: 3px solid dodgerblue;
}
.bike__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #151515;
}

.training {
  padding: 150px 0 120px;
  padding-left: 8.3333333333%;
  display: grid;
  grid-template-columns: minmax(180px, 460px) minmax(180px, 1fr);
  -moz-column-gap: 12.1212121212%;
       column-gap: 12.1212121212%;
  grid-template-rows: repeat(2, auto) 1fr;
  background-color: #f4f4f4;
  outline: darkcyan 2px solid;
}
.training__titel {
  font-size: 55px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
  color: #151515;
}
.training__description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 182px;
  color: #222;
  opacity: 70%;
}
.training__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.training__list-item {
  margin-right: 30px;
}
.training__list-item:last-child {
  margin-right: 0;
}
.training__link {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #222;
  text-decoration: none;
}
.training__link:focus {
  outline: 3px solid dodgerblue;
}
.training__place {
  width: 100%;
  margin-left: auto;
  grid-column: 2;
  grid-row: 1/4;
}

.footer {
  padding: 80px 0 60px;
  padding-left: 8.3333333333%;
  background-color: #efefef;
}
.footer__titel {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  width: 229px;
  margin-bottom: 50px;
  color: #151515;
}
.footer__form {
  position: relative;
  width: 360px;
  outline: 1px solid rgba(199, 199, 199, 0.5);
  margin-bottom: 100px;
}
.footer__email {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 300px;
  margin-left: 20px;
  padding: 0;
  background-color: #efefef;
  outline: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.footer__email::-moz-placeholder {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 70%;
  color: #222;
}
.footer__email:-ms-input-placeholder {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 70%;
  color: #222;
}
.footer__email::placeholder {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  opacity: 70%;
  color: #222;
}
.footer__email:hover::-moz-placeholder {
  opacity: 1;
  border: none;
}
.footer__email:hover:-ms-input-placeholder {
  opacity: 1;
  border: none;
}
.footer__email:hover::placeholder {
  opacity: 1;
  border: none;
}
.footer__button-submit {
  font-size: 13px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 28px;
  margin: 0;
  padding: 0;
  color: #151515;
  visibility: hidden;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 22px;
  top: 11px;
}
.footer__button-submit_active {
  visibility: visible;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  margin-right: 120px;
}
.footer__toggler {
  align-self: flex-end;
}
.footer__switch-light {
  width: 28px;
  height: 28px;
  margin-right: 17px;
}
.footer__switch-dark {
  width: 20px;
  height: 20px;
  margin-left: 18px;
  margin-bottom: 4px;
}
.footer__checkbox {
  width: 44px;
  height: 24px;
  margin-bottom: 2px;
  background: white;
  border-radius: 9999px;
  transition: 0.5s;
  position: relative;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
}
.footer__checkbox:focus {
  outline: none;
}
.footer__checkbox:before {
  content: "";
  width: 20px;
  height: 20px;
  background: #24b47e;
  border-radius: 9999px;
  transition: 0.5s;
  position: absolute;
  top: 2px;
  left: 2px;
}
.footer__checkbox:checked {
  background: #545454;
}
.footer__checkbox:checked:before {
  left: 22px;
}

.popup {
  display: flex;
  background-color: #f4f4f4;
  outline: purple 2px solid;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  padding: 0;
  max-width: 100%;
}
.popup_opened {
  visibility: visible;
}
.popup__page {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 auto;
  max-width: 100%;
  overflow: hidden;
  visibility: visible;
  cursor: pointer;
}
.popup__burger {
  margin-left: auto;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.popup__burger:checked ~ .popup__burger_element_top {
  background-color: #151515;
  transform: rotate(45deg) translate(8.5px);
}
.popup__burger:checked ~ .popup__burger_element_middle {
  background-color: #151515;
  transform: rotate(495deg) translate(2px);
}
.popup__burger:checked ~ .popup__burger_element_bottom {
  background-color: #151515;
  transform: rotate(45deg);
  opacity: 0;
}
.popup__burger-element {
  margin-left: 2px;
  margin-bottom: 5px;
  width: 22px;
  height: 3px;
  margin-bottom: 5px;
  background: #151515;
  border: 3px;
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
}
.popup__burger_element_top {
  transform-origin: 3px -6px;
}
.popup__burger_element_bottom {
  transform-origin: bottom left;
}
.popup__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.popup__links {
  display: inline-block;
}